<div class="container">
  <h1>Welcome to this game!</h1>
  <p>
    This is a simple app using .NET and Angular to practice for a job interview.<br />
    The end goal is a turn based strategy game (a la Risk, but with some added elements, or possible CK2)
    that will support user acocunts, custom map making, and have default maps as well. The actual game
    will be world domination based, but it may grow in scope.<br />
    Data will be tracked with SQL, C# will handle requests and some interpreting, Angular will present views.
    Bootstrap will be used for some parts.
    Also some research into Node will be considered (sockets?)
  </p>
  <p>Cheers</p>
</div>
